@import url("https://fonts.googleapis.com/css2?family=Red+Rose&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
